.empty-container {
  @apply border border-dashed border-gray-300 rounded bg-white;
  width: 320px;
  height: 102px;
  cursor: pointer;
  position: relative;
  .empty-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &:hover{
    @apply border-primary bg-primary-0;
  }
}

.card-container {
  @apply border border-gray-200 rounded bg-white;
  width: 320px;
  height: 102px;
  cursor: pointer;
  padding: 16px;
  &:hover{
    @apply border-primary bg-primary-0;
  }
}
